*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header{
  width: 100%;
  padding: 16px 0px;
  
  
}
header nav{
  max-width: 1360px;
  /* background-color: yellow; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
nav .menu{
  
}
nav .menu ul{
  list-style: none;
  display: flex;
}
nav .menu ul li{
  margin-right: 32px;
}
nav .menu ul li a{
  text-decoration: none;
  font-size: 16px;
}
.btn{
  background-color: #469165;
  color: white;
  font-size: 16px;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background-color: #287d4b;
}
