*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
header{
  width: 100%;
  padding: 16px 0px;
  
  
}
header nav{
  max-width: 1360px;
  /* background-color: yellow; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
nav .menu{
  
}
nav .menu ul{
  list-style: none;
  display: flex;
}
nav .menu ul li{
  margin-right: 32px;
}
nav .menu ul li a{
  text-decoration: none;
  font-size: 16px;
}
.btn{
  background-color: #469165;
  color: white;
  font-size: 16px;
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.btn:hover{
  background-color: #287d4b;
}

.btn2{
  background: none;
  border: 1px solid white;
  margin-left: 16px;
}
.btn2:hover{
  background: white;
  color: gray;
}
.fa-solid{
  margin: 0 10px;
}
#hero{
  background-image: url(../assets/hero-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 115px 0px 180px;
}
#hero .hero-content{
  max-width: 1360px;
  /* border: 1px solid white; */
  margin: 0 auto;
  align-items: center;
}

#hero .hero-content .top-button{
  max-width: 230px;
  display: flex;
  background-color: white;
  border-radius: 25px;
  margin: 0 auto;
  padding: 8px 15px;
}
#hero .hero-content .top-button img{
  max-width: 16px;
  height: 16px;
  margin-right: 6px;
  margin-top: 4px;
}
#hero .hero-content .top-button ul{
  list-style: none;
  font-size: 16px;
  color: #469165;
}
#hero .hero-content h1{
  max-width: 800px;
  font-size: 65px;
  margin: 0 auto;
  padding: 16px 0px;
  color: white;
}
#hero .hero-content span{
  color: #469165;
}
#hero .hero-content p{
  font-size: 16px;
  color: white;
  line-height: 24px;
  margin-bottom: 32px;
}
#notes {
  /* background-color: red; */

}
#notes .notes-content{
  width: 1360px;
  /* border: 1px solid white; */
  margin: 0 auto;
  text-align: center;
}
#notes .notes-content .notes-text{
  /* border: 1px solid white; */
}
#notes .notes-content .notes-text h1{
  margin-top: 60px;
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}
#notes .notes-content p{
  font-size: 16px;
  color: #627382;
  line-height: 20px;
}
#notes .notes-card{
  display: flex;
  justify-content: space-between;
  /* border: 1px solid black; */
  gap: 24px;
  margin-top: 44px;
}
#notes .notes-card .card{
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.21);
  padding: 60px 24px;
}
#notes .notes-card .card img{
  background-color: #F95555;
  padding: 14px;
  border-radius: 50%;
}
#notes .notes-card .card h3{
  font-size: 24px;
  font-weight: 600;
  margin:16px 0 ;
}
#brain{
  width: 100%;
  /* background-color: red; */
  padding: 120px;
}
#brain .brain-content{
  max-width: 1360px;
  /* border: 1px solid white; */
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 60px;
  align-items: center;
}
#brain .brain-content .image img{
  vertical-align: middle;
}
#brain .brain-content .text .main-text{
  /* border: 1px solid white; */
  margin-bottom: 40px;
}
#brain .brain-content .text .main-text .top{
  font-size: 16px;
  color: #469165;
  text-transform: uppercase;
  font-weight: 500;
}
#brain .brain-content .text .main-text h1{
  font-size: 48px;
  font-weight: bold;
  padding: 16px 0;
  color: #001931;
}
#brain .brain-content .text .main-text p{
  font-size: 16px;
  color: #627382;
  line-height: 26px;
}
#brain .brain-content .list-text{
  /* border: 1px solid white; */
}
#brain .brain-content .list-text .list{
  display: flex;
  gap: 6px;
  margin-bottom: 16px;
  color: #001931;
}